


h1 {
    text-align: center;
}

h3 {
    margin: 10px 0;
    font-size: 1.2em;
    text-align: center;
}

.Info {
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    z-index: 2; /* Ensure the content appears above the background */
}

.info-box {
    display: flex;
    align-items: center;
    gap: 5px;
   
    border-radius: 20px;
    width: calc(30% - 10px);
    padding: 5px;
    background-color: #93c2b0;
}

.label-box {
    background-color: #2c67d6;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    border-right: 1px solid #000;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box {
    
    padding: 5px 10px;
    flex-grow: 1;
    text-align: left;
    display: flex;
    align-items: center;
}

.align-left {
    text-align: left;
    padding-left: 10px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;

    
    margin: 10px;
    z-index: 2; /* Ensure the content appears above the background */
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    background-color: #fff;
    border-radius: 5px;
}

th, td {
    color: #000;
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
    font-size: 12px;
}

td {
   
    background-color: #93c2b0;
    font-weight: bold;
}

th {
    color: #ccc;
    background-color: #2f4f4f ;
    font-weight: bold;
}

.section {
    flex: 1;
    color: #ccc;
    min-width: 200px;
    background-color: #2f4f4f ;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}

.examination-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.grades-summary, .status {
    color: #ccc;
    background-color: #2f4f4f ;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    padding: 5px;
    margin-top: 10px;
    
}

.status-box {
    color: black;
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    border: 2px solid #ccc;
    margin-top: 10px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    background-color: #93c2b0;
    border-radius: 5px;
}





@media (min-width: 1024px) {
    .container {
        gap: 10px;
        justify-content: space-between;
    }

    .section {
        flex: 1;
    }

    .examination-container {
        flex: 1;
        max-width: 20%;
    }
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        gap: 10px;
    }

    .section, .examination-container {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* Back Button */
.back-btn {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: none;
    color: #4eab96;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
}

.back-btn:hover {
    color: #3d8575;
}

.footer {
font-size: 12px;
color: #5fe1c7;
font-weight: bold;
margin-top: 20px;
text-align: center; /* Center the footer text */

}

.score-table {

border: 1px solid #ccc;
border-radius: 5px;
width: 100%;
margin-top: 10px;
background-color: #f9f9f9; /* Light background for table */
}

.score-label {
background-color: #2f4f4f; /* Dark background for labels */
color: #ccc;
font-weight: bold;
text-align: left;
padding: 5px 10px;
}

.score-value {
background-color: #669383; /* Highlighted cell for values */
color: #000;
text-align: center;
font-weight: bold;
padding: 5px 10px;
}



